/*Calendar*/
.cal-container {
  padding-left: 10%;
  padding-right: 10%;
}

.cal-sel-date {
  width: 100%;
  background: #f1f1f1;
}

.cal-calendar {
  background-color: white;
}

.cal-calendar.sel-date .tavo-calendar__week-names {
  display: none;
}

.cal-calendar.sel-date .tavo-calendar__day {
  min-width: 0;
}

.cal-calendar.sel-date + .cal-sel-date {
  display: block;
}

.tavo-calendar__day-inner.current,
.tavo-calendar__day-inner.current:hover {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
}

.tavo-calendar__day_select.current {
  background-color: #f1f1f1;
}

.tavo-calendar__day_abs-today {
  background-color: transparent;
}

.tavo-calendar__day span:hover {
  background-color: transparent;
}
.tavo-calendar__day_select span:hover,
.tavo-calendar__day_select span {
  background-color: white;
  border: 2px solid #3e3e3e;
}

.tavo-calendar__day_select.tavo-calendar__day_rel-past span,
.tavo-calendar__day_select.tavo-calendar__day_rel-past span:hover {
  border: 2px solid #ccc;
}

/* .tavo-calendar__day_abs-today .tavo-calendar__day-inner {
  border: 2px solid black;
} */

/* .tavo-calendar__day-inner {
  border-radius: 12px !important;
} */

.tavo-calendar__day_highlight {
  color: #aaa !important;
}

.tavo-calendar__day {
  cursor: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.tavo-calendar__day_select .tavo-calendar__day-inner {
  cursor: pointer;
}

.tavo-calendar__day span.tavo-calendar__day-inner {
  width: 50px;
  height: auto;
  font-size: 16px;
}

.tavo-calendar__month-label,
.tavo-calendar__weekday {
  font-size: 15px;
}

.cal-sel-date > div {
  background-color: white;
  width: 60%;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 0 4px #ccc;
  padding: 10px;
}

.cal-sel-date h4 {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}

/*Spinner*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 3px;
  margin-top: 0;
  border: 3px solid gray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: gray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
