/*Calendar*/
.cal-container {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cal-container > .cal-sel-date {
  display: none;
}

.cal-sel-date {
  width: 100%;
  background: #f1f1f1;
}

.cal-calendar {
  background-color: white;
}

.cal-calendar.sel-date .tavo-calendar__week-names {
  display: none;
}

.cal-calendar.sel-date .tavo-calendar__day {
  min-width: 0;
}

.cal-calendar.sel-date + .cal-sel-date {
  display: block;
}

.tavo-calendar__day-inner.current,
.tavo-calendar__day-inner.current:hover {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
}

.tavo-calendar__day_select.current {
  background-color: #f1f1f1;
}

.tavo-calendar__day_abs-today {
  background-color: transparent;
}

.tavo-calendar__day span:hover {
  background-color: transparent;
}
.tavo-calendar__day_select span:hover,
.tavo-calendar__day_select span {
  background-color: white;
  border: 2px solid #3e3e3e;
}

.tavo-calendar__day_select.tavo-calendar__day_rel-past span,
.tavo-calendar__day_select.tavo-calendar__day_rel-past span:hover {
  border: 2px solid #ccc;
}

.tavo-calendar__day_highlight {
  color: #aaa !important;
}

.tavo-calendar__day {
  cursor: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.tavo-calendar__day_select .tavo-calendar__day-inner {
  cursor: pointer;
}

.tavo-calendar__day span.tavo-calendar__day-inner {
  width: 50px;
  height: auto;
  font-size: 16px;
}

.tavo-calendar__month-label,
.tavo-calendar__weekday {
  font-size: 15px;
}

.cal-sel-date > div {
  background-color: white;
  width: 60%;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 0 4px #ccc;
  padding: 10px;
  min-width: 260px;
}

.cal-sel-date h4 {
  margin: 0;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.available-hours {
  list-style: none;
  max-width: 400px;
  margin: auto;
  padding: 0;
}

.available-hours li {
  cursor: pointer;
  border: 1px solid #ccc;
  margin-top: 6px;
  padding: 4px;
  font-size: 16px;
  line-height: 22px;
}

.available-hours li:hover {
  background-color: #eee;
}

.available-hours li.selected {
  background-color: #eee;
  font-weight: bold;
}

.available-hours li span {
  pointer-events: none;
  font-weight: normal;
  font-size: 14px;
  color: green;
  display: block;
}

.cal-sel-date .waiting {
  display: none;
}

.cal-sel-date .no-data {
  padding: 20px;
  font-size: 16px;
  display: none;
}

.cal-sel-date .waiting .lds-ring {
  transform: scale(1.5);
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Form new users*/
.frm-new-users {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

.frm-new-users .button {
  cursor: pointer;
  margin-top: 20px;
  background-color: #bc2427;
  padding: 10px 20px;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}

.frm-new-users .button:hover {
  background-color: #8d191f;
}

.frm-new-users label {
  margin-top: 12px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}

.frm-new-users label span {
  color: darkred;
  margin-left: 10px;
}

.frm-new-users .container-policy label {
  font-weight: normal;
}
.frm-new-users .container-policy a {
  text-decoration: underline;
}

.frm-new-users .lbl-calendar {
  margin-top: 20px;
}

.frm-new-users .cal-container {
  margin-top: 12px;
}

.frm-new-users span.dashicons::before {
  font-size: 16px;
  vertical-align: middle;
  color: gray;
}

.frm-new-users .container-policy input {
  width: 20px;
  height: 20px;
}

/*Spinner*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 3px;
  margin-top: 0;
  border: 3px solid gray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: gray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
